.container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    .panel{
        background-color: #003c6a;
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        .panel-block{
            transition: all 1s;
            background-color: #004d81;
            margin: .5rem;
            border: 1px solid black;
            border-radius: .5rem;
            display: flex;
            flex-direction: column;
            align-content: center;
            &.active{
                background-color: #1f1b44;
                opacity: .5;
            }
            .container{
                display: flex;
                margin-top: .3rem;
                align-items: center;
                .box{
                    display: flex;
                    background-color: yellow;
                    flex-direction: column;
                    height: 1rem;
                    cursor: pointer;
                    float: left;
                    width: 1rem;
                    background-color: #044018;
                    &.active{
                        background-color: #07a33b;
                    }
                }
                
                .check-box{
                    flex: .15;
                    margin-left: 1.5rem;
                    cursor: pointer;
                    float: left;
                }
                .task-name{
                    position: relative;
                    flex: .25;
                    float: left;
                    margin-left: 2rem;
                    background-color: gray;
                }
                .task-due-date{
                    float: left;
                    flex: .25;
                    margin-left: 2rem;
                    background-color: #60a150;
                    border-radius: 2rem;
                }
                .item-container{
                    flex: .25;
                    float: right;
                    align-items: center;
                    // background-color: red;
                    display: flex;
                    flex-direction: row;
                    margin-left: 5rem;
                    .item{
                        align-items: flex-end;
                        float: right;
                        margin-right: 1rem;
                        margin-right: 1rem;
                        border-radius: .5rem;
                        cursor: pointer;
                        transition: all 1s;
                        &:hover{
                            background-color: #eb5656;
                        }                        
                    }
                }
            }
        }
    }
}