.listarea-container{
    // width: 90%;
    display: flex;
    margin : 4rem;
    align-items: center;
    justify-content: center;
    background-color: #4a6274;
    border-radius: .5rem;
    .listarea-panel{
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        flex-basis: 0;
        .panel-block{
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            flex-direction: row;
    
            .task-container{
                align-content: center;
                justify-content: center;
                align-items: center;
                .check-box{
                    align-items: center;
                    justify-content: center;
                    align-content: center;
                    flex: .15;
                    margin-left: 1.5rem;
                    cursor: pointer;
                    float: left;
                    margin-top: .5rem;
                }
                .task-name{
                    position: relative;
                    flex: .25;
                    float: left;
                    margin-left: 1vw;
                    min-width: 10vw;
                    color: white;
                }
                .task-due-date{
                    float: left;
                    flex: .25;
                    color: beige;
                    margin-left: 2vw;
                    border-radius: 2rem;
                }
                .item-container{
                    flex: .25;
                    float: right;
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                    .item{
                        align-items: flex-end;
                        float: right;
                        margin-right: 1vw;
                        margin-left: 1vw;
                        border-radius: .5rem;
                        cursor: pointer;
                        transition: all 1s;
                        &:hover{
                            background-color: #eb5656;
                        }                        
                    }
                }
                &.active{
                    background-color: #1f1b44;
                    opacity: 0.2;
                }
            }
        }
        
        
    }
}